
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ul{
    list-style-type: none;
}


body{
    background-color: #b0f8b0;
    background-image: url(../iconos/imagenFondo.png);
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-with: 480px){
    body{
        background-color: grey;        
    }
    .grilla{
        background-color: fuchsia;
        width: 100 vw;
        height: 100 vh;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas: 
          "headerBox"
          "mainBox"
          "footerBox";    
        
    }
}

@media screen and (max-with: 768px){
    body{
        background-color: grey;        
    }
    .grilla{
        background-color: fuchsia;
        width: 100 vw;
        height: 100 vh;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.3fr 1.4fr 0.3fr; 
        gap: 0px 0px; 
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas: 
          "headerBox"
          "mainBox"
          "footerBox";    
        
    }
}





.headerBox{
    grid-area: headerBox;
    background-color: #8EB92A;        
    height: 15vh;
    font-size: 1.0rem;
    text-align: center;
    align-items: flex-end;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-rows: 200 px;
}
.logo{
    background-color: #8EB92A;
    border: red solid 2px;
    align-items: flex-start;
    
}
.portada{
    background-color: #8EB92A;
    border: red solid 2px;


}
.vacio{
    background-color: #8EB92A;
    border: red solid 2px;

}

.mainBox{
    grid-area: mainBox;
        
    font-size: 1.5rem;
    text-align: center;    
    display: grid;    
    margin:20px;
            
}
.carrusel{
    background-color: white;
    height: 400px;
    font-size: 1.5rem;
    border: blue solid 2px;
    text-align: center;        
    display: grid; 
    justify-content: space-around;
    

}
.categorias{
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr;
    gap: 0px 30px;
    grid-auto-flow: row;
    justify-content: space-around;
    grid-template-areas:
      "catA catPI catPE";
      justify-items: center;
      align-items: center;

} 
     
.catA { 
    grid-area: catA; 
    background-color: yellow;
    border: red solid 2px;
    }
      
.catPI { 
    grid-area: catPI; 
    background-color: yellow;
    border: red solid 2px;
    }
      
.catPE { 
    grid-area: catPE; 
    background-color: yellow;
    border: red solid 2px;
    }

.destacados {  
    display: grid;
    background-color: #5500ff;
    border: red solid 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr;
    grid-auto-rows: 1fr;
    gap: 0px 30px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    grid-template-areas:
    "destUno destDos destTres destCuatro";
}

.destUno { 
    grid-area: destUno; 
    background-color: yellow;
    border: red solid 2px;
}

.destDos { 
    grid-area: destDos;
    background-color: yellow;
    border: red solid 2px;
}

.destTres {
    grid-area: destTres; 
    background-color: yellow;
    border: red solid 2px;
}
      
.destCuatro {
    grid-area: destCuatro;
    background-color: yellow;
    border: red solid 2px;
}  

.footerBox { 
    display: grid;
    background-color: #F5B565;
    border: red solid 2px;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr;
    grid-auto-rows: 1fr;
    gap: 0px 30px;
    grid-auto-flow: row;
    justify-content: space-between;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
    "navegacion iconMP cotacto redSocial";
  }
  
.navegacion { 
    grid-area: navegacion; 
    
    border: red solid 2px;
}
  
.iconMP { 
    grid-area: iconMP;     
    border: red solid 2px;    
    justify-content:space-around;
    
    
    
}
  
.contacto { 
    grid-area: cotacto; 
    
    border: red solid 2px;
}
  
.redSocial { 
    grid-area: redSocial; 
    
    border: red solid 2px;
}  

.grillaProducto{
    background-color: fuchsia;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr 1.4fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "headerBox"
      "mainProduc"
      "footerBox";
}
.mainProduc {  
    display: grid;
    font-size: 1.5rem;
    text-align: center;           
    margin:20px;
    background-color: yellow;
    border: red solid 2px;
    grid-auto-flow: column;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;    
    gap: 10px 10px;    
    grid-template-areas:
    "productUno productDos productTres"
    "productCuatro productCinco productSeis";

    align-content: center; 
    justify-content: center;

}
  
.productUno { 
    grid-area: accesUno; 
    background-color: #00ff48;
    border: red solid 2px;
}
  
.productDos { 
    grid-area: accesDos; 
    background-color: #00ff48;
    border: red solid 2px;
}
  
.productTres { 
    grid-area: accesTres;
    background-color: #00ff48;
    border: red solid 2px; 
}
  
.productCuatro { 
    grid-area: accesCuatro;
    background-color: #00ff48;
    border: red solid 2px; 
}
  
.productCinco { 
    grid-area: accesCinco;
    background-color: #00ff48;
    border: red solid 2px; 
}
  
.productSeis { 
    grid-area: accesSeis;
    background-color: #00ff48;
    border: red solid 2px; 
}
  

