.mainSomos{
    background: radial-gradient(circle,$colorMainSomos);    
    padding: 20px;         
    margin:20px;    
    p{
        font-size: 1.3rem;
    };
    aside{
        display: flex;
        width: auto; 
        align-items: center;  
        justify-content: space-evenly;
        column-gap: 50px;
        img{
            width: 400px;
            height: 300px;
        }
    }
    address{
        display: flex;
        gap:20px;
        img{
            width: 70px;
            height: 70px;
            border-radius: 20%;
        }
        a{
            transition:all 1s;
             &:hover{transform: scale($escalaProd);
        
        }
        
       }
    }
}