$colorLogo:#8EB92A;
$colorBotonHeader: #7ea425;
$colorBotonHeaderHold:#7598252A;
$colorCarrusel:#b6b6b6, #ffffff, #b6b6b6;
$colorCajaCat:#f8d08566;
$colorCat:#ffff00,#ffff5f;
$colorCajaDest:#debd0051;
$colorDest:#ffff00,#ffff5f;
$colorCajaTips:#cbd6bb7a;
$escalaCarr:1.1,1.1;
$escalaCat:1.1,1.1;
$escalaDest:1.1,1.1;
$escalaProd:1.1,1.1;
$escalaImgComp:1.5,1.5;
$colorTips:#beccaab6, #f0f0ec9a;
$colorMainTips: #e0f4b996;
$colorMainSomos:#808080b9, #f0f0ec9a;
$colorMainProd:#f0f565,#f0eae2, #f0f565;
$colorCajaProd:#00ff485b;
$colorMainCompra:#c9c9c9be,#f0eae2a9, #c9c9c9be;
$colorFooter:#f0eae2, #F5B565;